$dark: #0F2940;
$dark_blue: #636EB2;
$green: #A6D175;
$primary_red: #FF5F5F;
$slate: #30475C;
$light_slate: #DEEBF0;
$subdued_blue: #ADC4D1;
$white: #FFFFFF;
$whitish: #F2F7F7;
$yellow: #F2DE7D;
$viking_blue: #31A6B7;
$blue_stone: #1E6363;
$french_gray: #B7BFC6;
$link_hover_color: #0E4D56;
