div#header {
  background-color: #0F2940;
  color: #30475C;
  height: 50px;
  padding: 20px; }

div#header li {
  list-style: none;
  font-family: "Roboto"; }

#td-header-inner {
  width: 1175px;
  margin: 0 auto; }

#td-logo {
  float: left;
  margin: auto -15px; }

#td-logo a {
  display: block;
  margin: auto;
  width: 379px;
  height: 60px;
  text-indent: -9999px; }

#td-nav li {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px; }

#td-nav li a {
  color: #bbbbbb; }

#td-nav {
  float: left;
  margin-left: 64px; }

.td-signup {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #333333;
  font: bold 14px/21px "Helvetica Neue",Arial,sans-serif;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.5) inset;
  background-color: #FF5F5F; }
