<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <title>JIRA Feedback | Treasure Data</title>
  <meta name="keywords" content="<%= find_keywords(params[:article], params[:category]).join(',') %>">
  <meta name="description" content="<%= @desc %>">
  <link rel="canonical" href="http://docs.treasuredata.com<%= request.fullpath %>" />
  <link href="/favicon.ico" rel="icon" type="image/x-icon">
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <%= css :application, :media => 'screen' %>
  <%= js  :app %>
  <script type="text/javascript">
    $("#stack-compare tr").click(function(){
      window.location=$(this).find("a").attr("href");
      return false;
    });
    var activeNav = false;
  </script>
</head>

<body>
  <style>
    a:link, a:visited {
      color: #333333;
    }
    a:hover, a:active {
      text-decoration: none;
    }
    .btn-default {
        box-sizing: border-box;
        color: rgb(51, 51, 51);
        cursor: pointer;
        display: inline-block;
        /*height: 34px;*/
        text-align: center;
        text-decoration: none solid rgb(51, 51, 51);
        vertical-align: middle;
        white-space: nowrap;
        /*width: 200px;*/
        background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
        border: 1px solid rgb(204, 204, 204);
        border-radius: 4px 4px 4px 4px;
        font: normal normal normal 14px/20px 'Open Sans', sans-serif;
        outline: rgb(51, 51, 51) none 0px;
        padding: 6px 12px;
    }
    .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active  {
      color: #333333;
      background-color: #ebebeb;
      border-color: #adadad;
    }
    h1 {
      font-size:120%;
      padding: 10px 5px 10px 5px;
    }
  </style>
  <div style="position:absolute; top:5%; left:5%">
    <br/>
    <a href="/feedback_client" class="btn-default"><h1>Click to Send Feedback for Client Tools</h1></a>
    <br/>
    <br/>
    <a href="/feedback_platform" class="btn-default"><h1>Click to Send Feedback for the Platform</h1></a>
    <br/>
  </div>
</body>
</html>
