<article style="padding-right: 10px;">
  <h1 style="font-size: 28px;">Documentation</h1>
  <br />
  <p>Below you'll find tutorials that will teach you how to use Treasure Data, Hadoop-based Cloud Data Warehouse.</p>
</article>

<div style="background-color: #F3F5F7;width:100%;padding-bottom:30px;">
<center>
  <h1 style="font-size:18px;padding-top:40px;">Get Started with Treasure Data</h1><br />
  <div>
  <h4>Start storing huge data in munutes.</h4>
  </div>
  <br />
  <br />
  <img src="/images/steps.png" style="width: 600px;">
  <table>
    <tr>
      <td style="text-align:center;width:33%;border:0px;vertical-align:top;">
        <h4>On Your PC</h4>
        <p><a href="/articles/quickstart">Create Database and Table</a></p>
      </td>
      <td style="text-align:center;width:33%;border:0px;vertical-align:top;">
        <h4>On Your Server</h4>
        <p>Import Data<br/>
        (from <a href="/articles/java">Java</a>, <a href="/articles/ruby">Ruby</a>, <a href="/articles/python">Python</a>, <a href="/articles/php">PHP</a>, <a href="/articles/nodejs">Node.js</a>, <a href="/articles/perl">Perl</a> apps or directly from <a href="/articles/apache">Apache</a>, <a href="/articles/td-agent-tail">TSV, CSV</a> logs).
        </p>
      </td>
      <td style="text-align:center;width:33%;border:0px;vertical-align:top;">
        <h4>On Your App</h4>
        <p>
        <a href="/articles/hive">Issue Queries by CUI</a><br />
        <a href="/categories/api">Issue Queries by Program</a><br />
        </p>
      </td>
    </tr>
  </table>
</center>
</div>

<article style="padding-right: 10px;">
  <p>
    If the documents are incorrect or outdated, or omits critical information, please <a href="http://treasure-data.com/contact/">let us know</a>. For all other issues, please see our <a href="/articles/support-channels">support channels</a>.
  </p>
</article>
