<div id="page">
<div class="topic_content">
<head>
<title>Release Notes | Treasure Data</title>
</head>

<article>
  <hgroup>
    <h1>Release Notes</h1>
  </hgroup>
  <%= @body %>
  Your will be redirected to the 'Release Notes' hosted on <a href="http://help.treasuredata.com">help.treasuredata.com</a> in <span id="time">X</span> seconds.
</article>

<script type="text/javascript">
  var redirect_time = 10;

  // set initial value
  document.getElementById('time').innerHTML = redirect_time;

  // redirect afte redirect_time seconds
  setTimeout(
    function() {
      window.location.href = "http://help.treasuredata.com/customer/portal/topics/624353-release-notes/articles";
    },
    redirect_time * 1000
  );

  // decrement the time to redirect every second
  var time = redirect_time;
  function decrementAndSchedule() {
    time -= 1;
    document.getElementById('time').innerHTML = time;
    if (time > 0) {
      setTimeout(decrementAndSchedule, 1000);
    }
  }
  setTimeout(decrementAndSchedule, 1000);
</script>

</div><!-- /#topic_content -->
</div><!-- /#page -->
