# Platform Constraints

Treasure Data is a cloud hosting environment, and as such is subject to some constraints that you may not be used to in a local Hadoop setup. These constraints exist to ensure that your app can take advantage of Treasure Data’s scalability and redundancy features.

## Hive UDF (User Defined Function)

You can't add your custom Hive UDF. If you have a request for the specific function, please notice us.

## Hive Custom Map/Reduce Scripts

You can't use [custom map/reduce scripts](https://cwiki.apache.org/confluence/display/Hive/Tutorial#Tutorial-Custommap%2Freducescripts), due to the security consideration.
